*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.pprof
coverage.html

go.work

.vscode/
.idea/
.claude/
.claudeignore
.opencode/

*.db
*.tar

.env
Taskfile.yml
.task/

/pkg/assets/_app/dist

/bin
/_bin
/_scratch
/_build
/out
/scripts/mister/build/_build
/mister
/linux

.DS_Store
tmp/

/cmd/scratch
/cmd/windows/*.syso
/cmd/windows/winres/winres.json

worktrees/

/pkg/zapscript/testdata/*.db
/pkg/zapscript/testdata/inputs/*.txt
/pkg/zapscript/testdata/**/*.bat
/pkg/zapscript/testdata/**/*.dat
/pkg/zapscript/testdata/**/*.cue
/pkg/zapscript/testdata/**/*.dvd
/pkg/zapscript/testdata/**/*.gdi

/scripts/mister/utils/src/
/scripts/mister/utils/build/

/pkg/platforms/mister/arcadedb/ArcadeDatabase.csv

/scripts/batocera/template/userdata/roms/ports/Zaparoo.sh
