*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.pprof

go.work

.vscode/
.idea/
.claude/
.claudeignore
*.changeset

*.db
*.tar

.env
Taskfile.yml
.task/

/pkg/assets/_app/dist

/bin
/_bin
/_scratch
/_build
/out
/scripts/mister/build/_build

.DS_Store
tmp/

/cmd/scratch
/cmd/windows/*.syso
/cmd/windows/winres/winres.json

worktrees/
