version: "3"

tasks:
  build-amd64:
    desc: Build Batocera AMD64 binary
    cmds:
      - task: :zigcc:build-linux-amd64
        vars:
          PLATFORM: batocera

  build-arm64:
    desc: Build Batocera ARM64 binary
    cmds:
      - task: :zigcc:build-linux-arm64
        vars:
          PLATFORM: batocera

  build-arm:
    desc: Build Batocera ARM binary
    cmds:
      - task: :zigcc:build-linux-arm
        vars:
          PLATFORM: batocera

  package:
    desc: Build Batocera pacman packages for all architectures
    deps: [build-amd64, build-arm64, build-arm]
    vars:
      TEMPLATE_DIR: scripts/batocera/template
      BUILD_DIR: _build/packages/batocera
    cmds:
      - rm -rf {{.BUILD_DIR}}
      - mkdir -p {{.BUILD_DIR}}
      - task: package-arch
        vars:
          BUILD_ARCH: amd64
          PKG_ARCH: x86_64
          BUILD_DIR: "{{.BUILD_DIR}}"
          TEMPLATE_DIR: "{{.TEMPLATE_DIR}}"
          VERSION: "{{.APP_VERSION}}"
      - task: package-arch
        vars:
          BUILD_ARCH: arm64
          PKG_ARCH: aarch64
          BUILD_DIR: "{{.BUILD_DIR}}"
          TEMPLATE_DIR: "{{.TEMPLATE_DIR}}"
          VERSION: "{{.APP_VERSION}}"
      - task: package-arch
        vars:
          BUILD_ARCH: arm
          PKG_ARCH: armv7l
          BUILD_DIR: "{{.BUILD_DIR}}"
          TEMPLATE_DIR: "{{.TEMPLATE_DIR}}"
          VERSION: "{{.APP_VERSION}}"
      - echo "Packages created in {{.BUILD_DIR}}:"
      - ls -la {{.BUILD_DIR}}/*.pkg.tar.zst

  package-arch:
    desc: Build Batocera pacman package for specific architecture
    vars:
      BUILD_DIR: '{{.BUILD_DIR | default "_build/packages/batocera"}}'
      TEMPLATE_DIR: '{{.TEMPLATE_DIR | default "scripts/batocera/template"}}'
      PACKAGE_NAME: zaparoo-batocera-{{.VERSION}}-{{.PKG_ARCH}}
      PACKAGE_DIR: "{{.BUILD_DIR}}/{{.PACKAGE_NAME}}"
    cmds:
      - echo "Creating package for {{.PKG_ARCH}}..."
      - mkdir -p {{.PACKAGE_DIR}}/userdata/system/services
      - cp -r {{.TEMPLATE_DIR}}/. {{.PACKAGE_DIR}}/
      - cp _build/batocera_{{.BUILD_ARCH}}/zaparoo {{.PACKAGE_DIR}}/userdata/system/
      - sed -i "s/__VERSION__/{{.VERSION}}/g" {{.PACKAGE_DIR}}/.PKGINFO
      - sed -i "s/__ARCH__/{{.PKG_ARCH}}/g" {{.PACKAGE_DIR}}/.PKGINFO
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/zaparoo
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/services/zaparoo_service
      - task: create-package
        vars:
          PACKAGE_DIR: "{{.PACKAGE_DIR}}"
          PACKAGE_NAME: "{{.PACKAGE_NAME}}"
          BUILD_DIR: "{{.BUILD_DIR}}"

  create-package:
    internal: true
    dir: "{{.PACKAGE_DIR}}"
    cmds:
      - echo "Creating package manually..."
      - tar -cf - .PKGINFO .BATOEXEC userdata | zstd -c --rsyncable - -o "../{{.PACKAGE_NAME}}.pkg.tar.zst"
      - chmod go+r "../{{.PACKAGE_NAME}}.pkg.tar.zst"

  package-any:
    desc: Build universal Batocera pacman package for all architectures
    deps: [build-amd64, build-arm64, build-arm]
    vars:
      TEMPLATE_DIR: scripts/batocera/template-any
      BUILD_DIR: _build/packages/batocera
      PACKAGE_NAME: zaparoo-batocera-{{.APP_VERSION}}-any
      PACKAGE_DIR: "{{.BUILD_DIR}}/{{.PACKAGE_NAME}}"
    cmds:
      - echo "Creating universal 'any' architecture package..."
      - mkdir -p {{.PACKAGE_DIR}}/userdata/system/services
      - cp -r {{.TEMPLATE_DIR}}/. {{.PACKAGE_DIR}}/
      - cp _build/batocera_amd64/zaparoo {{.PACKAGE_DIR}}/userdata/system/zaparoo-x86_64
      - cp _build/batocera_arm64/zaparoo {{.PACKAGE_DIR}}/userdata/system/zaparoo-aarch64
      - cp _build/batocera_arm/zaparoo {{.PACKAGE_DIR}}/userdata/system/zaparoo-armv7l
      - sed -i "s/__VERSION__/{{.APP_VERSION}}/g" {{.PACKAGE_DIR}}/.PKGINFO
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/zaparoo
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/zaparoo-x86_64
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/zaparoo-aarch64
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/zaparoo-armv7l
      - chmod +x {{.PACKAGE_DIR}}/userdata/system/services/zaparoo_service
      - task: create-package
        vars:
          PACKAGE_DIR: "{{.PACKAGE_DIR}}"
          PACKAGE_NAME: "{{.PACKAGE_NAME}}"
          BUILD_DIR: "{{.BUILD_DIR}}"
      - echo "Universal package created at {{.BUILD_DIR}}/{{.PACKAGE_NAME}}.pkg.tar.zst"

  deploy:
    cmds:
      - task: build-{{.CLI_ARGS}}
      - scp _build/batocera_{{.CLI_ARGS}}/zaparoo root@${BATOCERA_IP}:/userdata/system/zaparoo
      - ssh root@${BATOCERA_IP} /userdata/system/zaparoo -service restart
