version: "3"

tasks:
  build-arm64:
    desc: Build MiSTeX ARM64 binary
    deps: [":mister:download-arcadedb"]
    cmds:
      - task: :zigcc:build-linux-arm64
        vars:
          PLATFORM: mistex
          APP_BIN: zaparoo.sh
          EXTRA_TAGS: embed_arcadedb

  deploy:
    cmds:
      - task: build-{{.CLI_ARGS}}
      - scp _build/mistex_{{.CLI_ARGS}}/zaparoo.sh root@${MISTEX_IP}:/media/fat/Scripts/zaparoo.sh
      - ssh root@${MISTEX_IP} /media/fat/Scripts/zaparoo.sh -service restart