version: "3"

tasks:
  setup:
    internal: true
    cmds:
      - task: :docker:build-image
        vars:
          IMAGE_NAME: zaparoo/zigcc
          DOCKERFILE: "./scripts/zigcc"

  build-linux-amd64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: '{{default "linux" .PLATFORM}}'
          BUILD_OS: linux
          BUILD_ARCH: amd64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: '{{default "zaparoo" .APP_BIN}}'
          CC: "zig cc -target x86_64-linux-gnu"
          CXX: "zig c++ -target x86_64-linux-gnu"
          NO_STATIC: true
          EXTRA_LDFLAGS: "-linkmode external"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_CFLAGS="-I/opt/libnfc/x86_64-linux-gnu/include -isystem /usr/include"
            -e CGO_LDFLAGS="-L/opt/sysroot/x86_64-linux-gnu/lib -L/opt/libnfc/x86_64-linux-gnu/lib -L/opt/deps/x86_64-linux-gnu/lib /opt/libnfc/x86_64-linux-gnu/lib/libnfc.a /opt/deps/x86_64-linux-gnu/lib/libusb.a /opt/deps/x86_64-linux-gnu/lib/libusb-1.0.a -lasound"

  build-linux-arm64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: '{{default "linux" .PLATFORM}}'
          BUILD_OS: linux
          BUILD_ARCH: arm64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: '{{default "zaparoo" .APP_BIN}}'
          CC: "zig cc -target aarch64-linux-gnu"
          CXX: "zig c++ -target aarch64-linux-gnu"
          NO_STATIC: true
          EXTRA_LDFLAGS: "-linkmode external"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_CFLAGS="-I/opt/libnfc/aarch64-linux-gnu/include -isystem /usr/include"
            -e CGO_LDFLAGS="-L/opt/sysroot/aarch64-linux-gnu/lib -L/opt/libnfc/aarch64-linux-gnu/lib -L/opt/deps/aarch64-linux-gnu/lib /opt/libnfc/aarch64-linux-gnu/lib/libnfc.a /opt/deps/aarch64-linux-gnu/lib/libusb.a /opt/deps/aarch64-linux-gnu/lib/libusb-1.0.a -lasound"

  build-linux-arm:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: '{{default "linux" .PLATFORM}}'
          BUILD_OS: linux
          BUILD_ARCH: arm
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: '{{default "zaparoo" .APP_BIN}}'
          CC: "zig cc -target arm-linux-gnueabihf"
          CXX: "zig c++ -target arm-linux-gnueabihf"
          NO_STATIC: true
          EXTRA_LDFLAGS: "-linkmode external"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_CFLAGS="-I/opt/libnfc/arm-linux-gnueabihf/include -isystem /usr/include"
            -e CGO_LDFLAGS="-L/opt/sysroot/arm-linux-gnueabihf/lib -L/opt/libnfc/arm-linux-gnueabihf/lib -L/opt/deps/arm-linux-gnueabihf/lib /opt/libnfc/arm-linux-gnueabihf/lib/libnfc.a /opt/deps/arm-linux-gnueabihf/lib/libusb.a /opt/deps/arm-linux-gnueabihf/lib/libusb-1.0.a -lasound"

  build-windows-amd64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: windows
          BUILD_OS: windows
          BUILD_ARCH: amd64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: Zaparoo.exe
          NO_LIBNFC: true
          EXTRA_LDFLAGS: -H=windowsgui
          CC: "zig cc -w --target=x86_64-windows-gnu"
          CXX: "zig c++ -w --target=x86_64-windows-gnu"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_LDFLAGS="-Wl,--subsystem,windows"

  build-windows-arm64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: windows
          BUILD_OS: windows
          BUILD_ARCH: arm64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: Zaparoo.exe
          NO_LIBNFC: true
          EXTRA_LDFLAGS: -H=windowsgui
          CC: "zig cc -w --target=aarch64-windows-gnu"
          CXX: "zig c++ -w --target=aarch64-windows-gnu"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_LDFLAGS="-Wl,--subsystem,windows"

  build-windows-386:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: windows
          BUILD_OS: windows
          BUILD_ARCH: "386"
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: Zaparoo.exe
          NO_LIBNFC: true
          EXTRA_LDFLAGS: -H=windowsgui
          CC: "zig cc -w --target=x86-windows-gnu"
          CXX: "zig c++ -w --target=x86-windows-gnu"
          EXTRA_DOCKER_ARGS: >-
            -e CGO_LDFLAGS="-Wl,--subsystem,windows"

  build-mac-amd64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: mac
          BUILD_OS: darwin
          BUILD_ARCH: amd64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: zaparoo
          NO_LIBNFC: true
          NO_STATIC: true
          CC: >-
            zig cc -w --target=x86_64-macos
            -I/opt/macosx-sdk/usr/include
            -L/opt/macosx-sdk/usr/lib
            -F/opt/macosx-sdk/System/Library/Frameworks
          CXX: >-
            zig c++ -w --target=x86_64-macos
            -I/opt/macosx-sdk/usr/include
            -L/opt/macosx-sdk/usr/lib
            -F/opt/macosx-sdk/System/Library/Frameworks

  build-mac-arm64:
    internal: true
    cmds:
      - task: setup
      - task: :docker:build-app
        vars:
          PLATFORM: mac
          BUILD_OS: darwin
          BUILD_ARCH: arm64
          IMAGE_NAME: zaparoo/zigcc
          APP_BIN: zaparoo
          NO_LIBNFC: true
          NO_STATIC: true
          CC: >-
            zig cc -w --target=aarch64-macos
            -I/opt/macosx-sdk/usr/include
            -L/opt/macosx-sdk/usr/lib
            -F/opt/macosx-sdk/System/Library/Frameworks
          CXX: >-
            zig c++ -w --target=aarch64-macos
            -I/opt/macosx-sdk/usr/include
            -L/opt/macosx-sdk/usr/lib
            -F/opt/macosx-sdk/System/Library/Frameworks